.card {
width: auto;
margin-bottom: 50px;
padding: 20px;
text-align: center;

}


.card-img {
max-width: auto;
height: 500px;
}
.header {
padding: 20px;
}
.container {
overflow-y: scroll;
align-items: center;
justify-content: center;

width: 80%; /* El ancho será el 100% del ancho de la página menos 40px (20px de margen a cada lado) */
margin: 75px auto; /* Margen superior e inferior de 20px y centrado horizontal */
padding: 50px;

height: 75%;
}
h2 {
font-size: 24px;
font-weight: bold;
color: #333;
margin-bottom: 10px;
}

p {
color: #666;
margin-bottom: 20px;
}

.row {
justify-content: center;
align-items: center;
}
@media (max-width: 768px) {
.card {
width: calc(
50% - 20px
); /* En pantallas más pequeñas, mostrar dos tarjetas por fila */
}
}

@media (max-width: 480px) {
.card {
width: calc(
100% - 20px
); /* En pantallas aún más pequeñas, mostrar una tarjeta por fila */
}
}
/* resources/css/stylesEventos.css */

.card-link {
text-decoration: none;
color: inherit;
}

.card-link .card {
cursor: pointer;
}

.card-link:hover .card {
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón dentro de la tarjeta */
.card-button {
    margin: 40px;
    background: linear-gradient(140.14deg, #ffc680 15.05%, #ff9500 114.99%)
            padding-box,
        linear-gradient(142.51deg, #feb062 8.65%, #fc830a 88.82%) border-box;
    border-radius: 7px;
    border: 2px solid transparent;
    text-shadow: 1px 1px 1px #00000040;
    box-shadow: 8px 8px 20px 0px #45090059;
    padding: 10px 40px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-size: 18px;
}

.card-button:hover {
    box-shadow: none;
    opacity: 80%;
}
