/* Estilos para la vista de medios */
.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; /* Alinear los elementos al principio */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan cuando no haya suficiente espacio */
    margin-top: 20px;
}

.col {
    flex: 0 0 calc(30% - 20px); /* Definir el tamaño de cada columna */
    margin-bottom: 20px; /* Espacio entre las columnas */
    padding: 10px;
    box-sizing: border-box;
}

.col h3 {
    margin-bottom: 10px; /* Espacio entre el título y los elementos */
}

.scrollable-column {
    max-height: 400px; /* Altura máxima para la columna con desplazamiento vertical */
    overflow-y: auto; /* Agregar desplazamiento vertical */
    display: flex; /* Utilizar flexbox para los elementos internos */
    flex-direction: column; /* Mostrar los elementos en columna */
    align-items: center; /* Alinear los elementos al centro horizontalmente */
}

.media-item {
    margin-bottom: 20px; /* Espacio entre los elementos */
    text-align: center;
}

.media-item img {
    width: 600px;
    height: auto;
}
